aiohttp
aiosignal
attrs
cffi
contourpy
cycler
discord.py
fonttools
frozenlist
idna
kiwisolver
matplotlib
multidict
numpy
packaging
pillow
pip
pycparser
pydub
PyNaCl
pyparsing
python-dateutil
python-dotenv
setuptools
six
soundfile
yarl